{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
<section class="bg-gray-50 py-12">
    <div class="container mx-auto px-4">
        <h1 class="text-3xl font-bold text-gray-800 mb-4">Welcome, {{ user.first_name }}</h1>

        <ul class="bg-white shadow-md rounded-lg p-6 space-y-4">
            <li class="text-gray-700 font-medium">Username: <span class="font-normal">{{ user.username }}</span></li>
            <li class="text-gray-700 font-medium">Email: <span class="font-normal">{{ user.email }}</span></li>
        </ul>
    </div>
</section>
{% endblock %}


